@page
@model HeroEngine.Web.Pages.Heroes.CreateModel

<h1>Create New Hero</h1>

<form method="post">

    <p>Hero Name:</p>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <br /><br />

    <p>Class:</p>
    <select asp-for="ClassType">
        <option value="CWarrior">Warrior</option>
        <option value="CRogue">Rogue</option>
    </select>
    <span asp-validation-for="ClassType"></span>

    <br /><br />

    <p>Level:</p>
    <input asp-for="Level" type="number" />
    <span asp-validation-for="Level"></span>

    <br /><br />

    <p>Health:</p>
    <input asp-for="HealthBase" type="number" />
    <span asp-validation-for="HealthBase"></span>

    <br /><br />

    <p>Armor (only Warrior):</p>
    <input asp-for="Armor" type="number" />
    <span asp-validation-for="Armor"></span>

    <br /><br />

    <button type="submit">Create Hero</button>
    <a asp-page="Index">Cancel</a>

</form>

<hr />

@if (!ViewData.ModelState.IsValid)
{
    <p>Fix errors above.</p>
}