@page
@model HeroEngine.Web.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>

<p>
    This application stores all data locally in the <code>wwwroot/data</code> folder.
    No information is sent to external servers.
</p>